@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-border: #27272a;
  --color-primary: #ffffff;
  --color-muted: #a1a1aa;

  --radius-sm: 1px;
  --radius-md: 2px;
  --radius-lg: 4px;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
}
